<app-master></app-master>

<div class="nb-theme-default">
  <section>
    <nb-tabset>
      <nb-tab tabTitle="Role Management">
        <app-role></app-role>
      </nb-tab>
      <nb-tab tabTitle="My Projects">
        <app-my-projects></app-my-projects>
      </nb-tab>
      <nb-tab tabTitle="Shared Projects">
        <app-shared-projects></app-shared-projects>
      </nb-tab>
      <nb-tab tabTitle="My Organizations">
        <app-organizations></app-organizations>
      </nb-tab>
    </nb-tabset>
  </section>
</div>
