<ng-container *ngLet="state$ | async; let organizations">
  <div
    *ngFor="let organization of organizations"
    class="listDiv"
    [routerLink]="['/orgDetail', organization.organization.organizationId]"
  >
    <app-list
      [mainTitle]="'Organization Name: ' + organization?.organization?.organizationName"
      [createdBy]="'Created By: ' + organization?.userName"
      [extraText]="'Created At: ' + organization?.organization?.createdAt"
      [greyedOut]="organization?.inviteAccepted"
    ></app-list>
  </div>
</ng-container>
