<ng-container *ngLet="state$ | async; let sharedProjects">
  <div *ngFor="let sharedProject of sharedProjects" class="listDiv">
    <app-list
      [mainTitle]="'Project Name: ' + sharedProject?.project?.projectName"
      [createdBy]="'Owner Name: ' + sharedProject?.userName"
      [extraText]="'Created At: ' + sharedProject?.project?.createdAt"
      [greyedOut]="sharedProject?.inviteAccepted"
    >
      <button
        nbButton
        class="btn"
        *ngIf="sharedProject?.inviteAccepted === null"
        status="primary"
        (click)="updateInvitation(sharedProject.project.projectId, true)"
      >
        Accept Invitation
      </button>

      <button
        nbButton
        class="btn"
        *ngIf="sharedProject?.inviteAccepted === null"
        status="danger"
        (click)="updateInvitation(sharedProject.project.projectId, false)"
      >
        Reject Invitation
      </button>
    </app-list>
  </div>
</ng-container>
